<div class="landing">
  <div class="annoucement-container">
      <span>
        Ce site web ne sera bientôt plus disponible !
      </span>
  </div>
  <div class="hero">
    <div class="hero-content my-container">
        <img src="../assets/img/image-hero.jpg" alt="">
        <div class="texts">
            <span>Soutenons</span>
            <h1>Yves TSALA</h1>
            <span class="text">Pour une jeunesse dynamique, sportive et qui vit de ses talents !</span>
        </div>
    </div>
</div>
</div>