<div class="landing">
  <div class="position-relative marquee-container d-none d-sm-block">
    <div class="marquee d-flex justify-content-around">
      <span>The website is under construction and will be very soon available !</span>
    </div>
    <div class="marquee marquee2 d-flex justify-content-around">
      <span>The website is under construction and will be very soon available !</span>
    </div>
  </div>
  <div class="hero">
    <div class="hero-content my-container">
        <img src="../assets/img/image-hero.jpg" alt="">
        <div class="texts">
            <span>Soutenons</span>
            <h1>Yves TSALA</h1>
            <span class="text">Pour une jeunesse dynamique, sportive et qui vit de ses talents !</span>
        </div>
    </div>
</div>
</div>